* {
    font-family: 'Varela Round';
    margin-right: 20px;
    margin-left: 20px;
}

h1 {
    font-size: 70px;
    text-align: right;
    margin-right: 20px;
    margin-bottom: 3px;
    color: #79BE70;
    letter-spacing: 6px;
}

h2 {
    font-size: 40px;
    font-style: italic;
    text-align: right;
    margin-top: 3px;
    margin-right: 20px;
    color: #79BE70;
    text-shadow: 0px 3px 0 #5B7671;
}

h3 {
    font-size: 32px;
    text-align: left;
    color: #2D2926;
}

ul {
    font-size: 24px;
    text-align: left;
    color: #5B7671;
}

.body {
    background-color: #F4F9FF;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 60px;
    margin-right: 60px;
}

html {
    background-color: #5B7671;
}

.one {
    background-color: #D7EFE7;
}

.two {
    background-color: #9FDDED;
}

img {
    height: 500px;
}

.citation {
    font-size: 15px;
    font-style: italic;
    color: #5B7671;
}

table {
    color: #5B7671;
    border: 1px;
    border-color: #2D2926;
    text-align: left;
}

.header {
    background-color: #79BE70;
    font-size: 30px;
}

.odd {
    background-color: #D7EFE7;
    font-size: 26px;
}

.even {
    background-color: #9FDDED;
    font-size: 26px;
}

a:link {
    color: #5B7671;
}

a:visited {
    color: #2D2926;
}

a:hover {
    color: #79BE70;
}