* {
    font-family: 'Varela Round';
    margin-right: 1vw;
    margin-left: 1vw;
}

h1 {
    font-size: 5.2vw;
    text-align: right;
    margin-right: 1vw;
    margin-bottom: .3vh;
    color: #79BE70;
    letter-spacing: .45vw;
}

h2 {
    font-size: 3vw;
    font-style: italic;
    text-align: right;
    margin-top: .4vh;
    margin-right: 1vw;
    color: #79BE70;
    text-shadow: 0vh .4vh 0 #5B7671;
}

h3 {
    font-size: 2.3vw;
    text-align: left;
    color: #2D2926;
}

ul {
    font-size: 1.8vw;
    text-align: left;
    color: #5B7671;
}

.body {
    background-color: #F4F9FF;
    margin-top: 3vh;
    margin-bottom: 3vh;
    margin-left: 3vw;
    margin-right: 3vw;
}

html {
    background-color: #5B7671;
}

.one {
    background-color: #D7EFE7;
}

.two {
    background-color: #9FDDED;
}

img {
    width:40vw;
}

.citation {
    font-size: 1.1vw;
    font-style: italic;
    color: #5B7671;
}

table {
    color: #5B7671;
    border: .1vh solid #2D2926;
    text-align: left;
}

.header {
    background-color: #79BE70;
    font-size: 2.1vw;
}

.odd {
    background-color: #D7EFE7;
    font-size: 1.9vw;
}

.even {
    background-color: #9FDDED;
    font-size: 1.9vw;
}

a:link {
    color: #5B7671;
    text-decoration:none;
    font-weight:bold;
}

a:visited {
    color: #2D2926;
}

a:hover {
    color: #79BE70;
}

.nav{
    font-size:1.8vw;
    text-align:center;
}

span{
    text-align:center;
    margin-right:-.08vw;
    margin-left:-.08vw;
    letter-spacing:-.08vw;
    border-radius:2.5vh;
    border: .2vw solid #2D2926;
}